@import "tailwindcss";

@layer theme {
  @theme {
    --color-primary-50: oklch(97.7% 0.014 308.299);
    --color-primary-100: oklch(94.6% 0.033 307.174);
    --color-primary-200: oklch(90.2% 0.063 306.703);
    --color-primary-300: oklch(82.7% 0.119 306.383);
    --color-primary-400: oklch(71.4% 0.203 305.504);
    --color-primary-500: oklch(62.7% 0.265 303.9);
    --color-primary-600: oklch(55.8% 0.288 302.321);
    --color-primary-700: oklch(49.6% 0.265 301.924);
    --color-primary-800: oklch(43.8% 0.218 303.724);
    --color-primary-900: oklch(38.1% 0.176 304.987);
    --color-primary-950: oklch(29.1% 0.149 302.717);

    --color-accent-50: oklch(98.2% 0.018 155.826);
    --color-accent-100: oklch(96.2% 0.044 156.743);
    --color-accent-200: oklch(92.5% 0.084 155.995);
    --color-accent-300: oklch(87.1% 0.15 154.449);
    --color-accent-400: oklch(79.2% 0.209 151.711);
    --color-accent-500: oklch(72.3% 0.219 149.579);
    --color-accent-600: oklch(62.7% 0.194 149.214);
    --color-accent-700: oklch(52.7% 0.154 150.069);
    --color-accent-800: oklch(44.8% 0.119 151.328);
    --color-accent-900: oklch(39.3% 0.095 152.535);
    --color-accent-950: oklch(27.4% 0.072 132.109);

    --color-primary: oklch(55.5% 0.163 48.998);
  }
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.900");
    border-right-color: theme("colors.primary.200");
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* For data picker */
.rdp {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: theme("colors.accent.500") !important;
  --rdp-background-color: theme("colors.accent.600") !important;
  margin: 0 !important;
}
